## County Data Part 2
In this interactive notebook, we clean up a dataset provided by the CDC which contains rates of cancer incidence and mortality for the entirety of the United States. In particular, we are only interested in the incidence of lung cancer. Later on, we might consider mortality as well, but for the sake of time and simplicity we will start by considering only those entries indicating incidences of cancer.

In [240]:
import pandas as pd
import numpy as np

In [241]:
all_cancer_df = pd.read_csv('data/us_cancer_rates_all.txt', sep='|')

In [242]:
all_cancer_df.head()

,STATE,AREA,AGE_ADJUSTED_CI_LOWER,AGE_ADJUSTED_CI_UPPER,AGE_ADJUSTED_RATE,COUNT,EVENT_TYPE,POPULATION,RACE,SEX,SITE,YEAR,CRUDE_CI_LOWER,CRUDE_CI_UPPER,CRUDE_RATE
0,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Incidence,5296.0,All Races,Female,All Cancer Sites Combined,2012-2016,~,~,~
1,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Mortality,5296.0,All Races,Female,All Cancer Sites Combined,2012-2016,~,~,~
2,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Incidence,5296.0,All Races,Female,Brain and Other Nervous System,2012-2016,~,~,~
3,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Mortality,5296.0,All Races,Female,Brain and Other Nervous System,2012-2016,~,~,~
4,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Incidence,5296.0,All Races,Female,Cervix,2012-2016,~,~,~

Let's start by fixing the columns so that the names are more Pythonic.

In [243]:
all_cancer_df.columns = map(str.lower, all_cancer_df.columns)

In [244]:
all_cancer_df.head()

,state,area,age_adjusted_ci_lower,age_adjusted_ci_upper,age_adjusted_rate,count,event_type,population,race,sex,site,year,crude_ci_lower,crude_ci_upper,crude_rate
0,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Incidence,5296.0,All Races,Female,All Cancer Sites Combined,2012-2016,~,~,~
1,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Mortality,5296.0,All Races,Female,All Cancer Sites Combined,2012-2016,~,~,~
2,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Incidence,5296.0,All Races,Female,Brain and Other Nervous System,2012-2016,~,~,~
3,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Mortality,5296.0,All Races,Female,Brain and Other Nervous System,2012-2016,~,~,~
4,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,~,~,Incidence,5296.0,All Races,Female,Cervix,2012-2016,~,~,~

We can also drop a few columns that won't be particularly useful for our future analysis.

In [245]:
all_cancer_df.drop(
    columns=['age_adjusted_ci_lower', 'age_adjusted_ci_upper', 'race', 'sex', 'crude_ci_lower', 'crude_ci_upper'], 
    inplace=True)

In [246]:
all_cancer_df.head()

,state,area,age_adjusted_rate,count,event_type,population,site,year,crude_rate
0,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,All Cancer Sites Combined,2012-2016,~
1,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Mortality,5296.0,All Cancer Sites Combined,2012-2016,~
2,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,Brain and Other Nervous System,2012-2016,~
3,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Mortality,5296.0,Brain and Other Nervous System,2012-2016,~
4,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,Cervix,2012-2016,~

Let's now filter our dataset to only incidences of cancer and not mortality.

In [247]:
all_cancer_incidence = all_cancer_df.loc[all_cancer_df.event_type == 'Incidence']

In [248]:
all_cancer_incidence.head()

,state,area,age_adjusted_rate,count,event_type,population,site,year,crude_rate
0,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,All Cancer Sites Combined,2012-2016,~
2,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,Brain and Other Nervous System,2012-2016,~
4,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,Cervix,2012-2016,~
6,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,Colon and Rectum,2012-2016,~
8,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,"Corpus and Uterus, NOS",2012-2016,~

In [249]:
all_cancer_incidence.site.unique()

array(['All Cancer Sites Combined', 'Brain and Other Nervous System',
       'Cervix', 'Colon and Rectum', 'Corpus and Uterus, NOS',
       'Esophagus', 'Female Breast', 'Female Breast, <i>in situ</i>',
       'Hodgkin Lymphoma', 'Kaposi Sarcoma', 'Kidney and Renal Pelvis',
       'Larynx', 'Leukemias', 'Liver and Intrahepatic Bile Duct',
       'Lung and Bronchus', 'Melanomas of the Skin', 'Mesothelioma',
       'Myeloma', 'Non-Hodgkin Lymphoma', 'Oral Cavity and Pharynx',
       'Ovary', 'Pancreas', 'Stomach', 'Thyroid', 'Urinary Bladder',
       'Male Breast', 'Prostate', 'Testis', 'Male and Female Breast',
       'Male and Female Breast, <i>in situ</i>'], dtype=object)

Next we will filter to select only respiratory cancers.

In [250]:
lung_cancer_incidence = all_cancer_incidence.loc[all_cancer_incidence.site == 'Lung and Bronchus']

In [251]:
lung_cancer_incidence.head()

,state,area,age_adjusted_rate,count,event_type,population,site,year,crude_rate
27,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,5296.0,Lung and Bronchus,2012-2016,~
69,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,11327.0,Lung and Bronchus,2012-2016,~
119,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,16623.0,Lung and Bronchus,2012-2016,~
175,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,1800.0,Lung and Bronchus,2012-2016,~
217,AK,AK: Aleutians East Borough (02013) - 1994+,~,~,Incidence,2155.0,Lung and Bronchus,2012-2016,~

Next, we need to handle nonsensical non-numeric values in our dataset. After investigation, we determined that the following characters were occasionally present to indicate a lack of reading. We replace them with NaN values to facilitate easy dropping of these rows later on.

In [252]:
lung_cancer_incidence = lung_cancer_incidence.replace('~', np.nan)
lung_cancer_incidence = lung_cancer_incidence.replace('.', np.nan)
lung_cancer_incidence = lung_cancer_incidence.replace('-', np.nan)
lung_cancer_incidence['count'] = lung_cancer_incidence['count'].replace('+', np.nan)

In [253]:
lung_cancer_incidence.head()

,state,area,age_adjusted_rate,count,event_type,population,site,year,crude_rate
27,AK,AK: Aleutians East Borough (02013) - 1994+,NaN,NaN,Incidence,5296.0,Lung and Bronchus,2012-2016,NaN
69,AK,AK: Aleutians East Borough (02013) - 1994+,NaN,NaN,Incidence,11327.0,Lung and Bronchus,2012-2016,NaN
119,AK,AK: Aleutians East Borough (02013) - 1994+,NaN,NaN,Incidence,16623.0,Lung and Bronchus,2012-2016,NaN
175,AK,AK: Aleutians East Borough (02013) - 1994+,NaN,NaN,Incidence,1800.0,Lung and Bronchus,2012-2016,NaN
217,AK,AK: Aleutians East Borough (02013) - 1994+,NaN,NaN,Incidence,2155.0,Lung and Bronchus,2012-2016,NaN

In [254]:
lung_cancer_incidence = lung_cancer_incidence.dropna(subset=['age_adjusted_rate', 'count'])

In [255]:
lung_cancer_incidence.head()

,state,area,age_adjusted_rate,count,event_type,population,site,year,crude_rate
1803,AK,AK: Anchorage Municipality (02020) - 1990+,43.0,272,Incidence,731867.0,Lung and Bronchus,2012-2016,37.2
1845,AK,AK: Anchorage Municipality (02020) - 1990+,60.2,337,Incidence,763424.0,Lung and Bronchus,2012-2016,44.1
1895,AK,AK: Anchorage Municipality (02020) - 1990+,50.9,609,Incidence,1495291.0,Lung and Bronchus,2012-2016,40.7
1951,AK,AK: Anchorage Municipality (02020) - 1990+,84.1,45,Incidence,77369.0,Lung and Bronchus,2012-2016,58.2
1993,AK,AK: Anchorage Municipality (02020) - 1990+,89.4,33,Incidence,70329.0,Lung and Bronchus,2012-2016,46.9

In [256]:
lung_cancer_incidence.shape

(17803, 9)

Finally, we need to do a lot of adjustment for the area field, as it contains many extra words that are descriptive of the type of area but aren't useful when we need to merge.

In [257]:
lung_cancer_incidence.area.unique()

array(['AK: Anchorage Municipality (02020) - 1990+',
       'AK: Bethel Census Area (02050) - 1990+',
       'AK: Fairbanks North Star Borough (02090) - 1990+', ...,
       'WY: Uinta County (56041)', 'WY: Washakie County (56043)',
       'WY: Weston County (56045)'], dtype=object)

In [258]:
lung_cancer_incidence.area = lung_cancer_incidence.area.map(lambda s: s[4:])

In [259]:
lung_cancer_incidence.head()

,state,area,age_adjusted_rate,count,event_type,population,site,year,crude_rate
1803,AK,Anchorage Municipality (02020) - 1990+,43.0,272,Incidence,731867.0,Lung and Bronchus,2012-2016,37.2
1845,AK,Anchorage Municipality (02020) - 1990+,60.2,337,Incidence,763424.0,Lung and Bronchus,2012-2016,44.1
1895,AK,Anchorage Municipality (02020) - 1990+,50.9,609,Incidence,1495291.0,Lung and Bronchus,2012-2016,40.7
1951,AK,Anchorage Municipality (02020) - 1990+,84.1,45,Incidence,77369.0,Lung and Bronchus,2012-2016,58.2
1993,AK,Anchorage Municipality (02020) - 1990+,89.4,33,Incidence,70329.0,Lung and Bronchus,2012-2016,46.9

In [260]:
lung_cancer_incidence.area = lung_cancer_incidence.area.map(lambda s: s.split(' (')[0])

In [261]:
lung_cancer_incidence.area.unique()

array(['Anchorage Municipality', 'Bethel Census Area',
       'Fairbanks North Star Borough', ..., 'Uinta County',
       'Washakie County', 'Weston County'], dtype=object)

In [262]:
lung_cancer_incidence.head()

,state,area,age_adjusted_rate,count,event_type,population,site,year,crude_rate
1803,AK,Anchorage Municipality,43.0,272,Incidence,731867.0,Lung and Bronchus,2012-2016,37.2
1845,AK,Anchorage Municipality,60.2,337,Incidence,763424.0,Lung and Bronchus,2012-2016,44.1
1895,AK,Anchorage Municipality,50.9,609,Incidence,1495291.0,Lung and Bronchus,2012-2016,40.7
1951,AK,Anchorage Municipality,84.1,45,Incidence,77369.0,Lung and Bronchus,2012-2016,58.2
1993,AK,Anchorage Municipality,89.4,33,Incidence,70329.0,Lung and Bronchus,2012-2016,46.9

In [263]:
lung_cancer_incidence.area = lung_cancer_incidence.area.map(lambda s: s.replace(' County', ''))
lung_cancer_incidence.area = lung_cancer_incidence.area.map(lambda s: s.replace(' Municipality', ''))
lung_cancer_incidence.area = lung_cancer_incidence.area.map(lambda s: s.replace(' Borough', ''))
lung_cancer_incidence.area = lung_cancer_incidence.area.map(lambda s: s.replace(' Census Area', ''))
lung_cancer_incidence.area = lung_cancer_incidence.area.map(lambda s: s.replace(' Peninsula', ''))
lung_cancer_incidence.area = lung_cancer_incidence.area.map(lambda s: s.split('City')[0])

In [264]:
lung_cancer_incidence.head(10)

,state,area,age_adjusted_rate,count,event_type,population,site,year,crude_rate
1803,AK,Anchorage,43.0,272,Incidence,731867.0,Lung and Bronchus,2012-2016,37.2
1845,AK,Anchorage,60.2,337,Incidence,763424.0,Lung and Bronchus,2012-2016,44.1
1895,AK,Anchorage,50.9,609,Incidence,1495291.0,Lung and Bronchus,2012-2016,40.7
1951,AK,Anchorage,84.1,45,Incidence,77369.0,Lung and Bronchus,2012-2016,58.2
1993,AK,Anchorage,89.4,33,Incidence,70329.0,Lung and Bronchus,2012-2016,46.9
2043,AK,Anchorage,86.7,78,Incidence,147698.0,Lung and Bronchus,2012-2016,52.8
2099,AK,Anchorage,24.9,20,Incidence,100327.0,Lung and Bronchus,2012-2016,19.9
2141,AK,Anchorage,64.8,33,Incidence,89535.0,Lung and Bronchus,2012-2016,36.9
2191,AK,Anchorage,40.7,53,Incidence,189862.0,Lung and Bronchus,2012-2016,27.9
2339,AK,Anchorage,48.5,28,Incidence,115116.0,Lung and Bronchus,2012-2016,24.3

Now, we have fixed the area field to be only the names instead of including any additional descriptors.

In [265]:
lung_cancer_incidence.dtypes

state                 object
area                  object
age_adjusted_rate     object
count                 object
event_type            object
population           float64
site                  object
year                  object
crude_rate            object
dtype: object

Clearly we need to do some type-casting on the columns, as we would like to do arithmetic with the numeric values.

In [266]:
lung_cancer_incidence.age_adjusted_rate.unique()

array(['43.0', '60.2', '50.9', ..., '14.4', '170.0', '138.3'],
      dtype=object)

In [267]:
lung_cancer_incidence.age_adjusted_rate = lung_cancer_incidence.age_adjusted_rate.astype(float)
lung_cancer_incidence['count'] = lung_cancer_incidence['count'].astype(int)
lung_cancer_incidence.crude_rate = lung_cancer_incidence.crude_rate.astype(float)

Finally, we will aggregarte within our state and area locators by taking the mean over the entire timeframe, essentially computing the average cancer rates within each county over the long period of time.

In [268]:
lung_cancer_county_means = lung_cancer_incidence.groupby(by=['state', 'area']).mean().reset_index()

In [269]:
lung_cancer_county_means

,state,area,age_adjusted_rate,count,population,crude_rate
0,AK,Anchorage,57.030769,185.230769,451234.461538,39.853846
1,AK,Bethel,53.750000,25.000000,82972.000000,30.300000
2,AK,Fairbanks North Star,52.914286,98.571429,264969.285714,37.971429
3,AK,Juneau,43.183333,36.000000,94517.333333,38.066667
4,AK,Kenai,71.814286,113.000000,158237.714286,76.342857
...,...,...,...,...,...,...
2715,WY,Sweetwater,48.200000,60.333333,146083.333333,41.350000
2716,WY,Teton,18.500000,21.500000,111065.500000,19.400000
2717,WY,Uinta,33.300000,22.000000,68445.333333,32.133333
2718,WY,Washakie,42.600000,26.000000,40856.000000,63.700000
2719,WY,Weston,44.900000,23.500000,35083.000000,67.000000

Finally, let's simply get the count of data points belonging to each state, and save our aggregated dataframe to a CSV file for easy access in the upcoming analysis.

In [270]:
lung_cancer_county_means.groupby(by=['state']).count()

       area  age_adjusted_rate  count  population  crude_rate
state
AK       13                 13     13          13          13
AL       67                 67     67          67          67
AR       75                 75     75          75          75
AZ       15                 15     15          15          15
CA       56                 56     56          56          56
CO       47                 47     47          47          47
CT        8                  8      8           8           8
DC        1                  1      1           1           1
DE        3                  3      3           3           3
FL       67                 67     67          67          67
GA      155                155    155         155         155
HI        4                  4      4           4           4
IA       98                 98     98          98          98
ID       34                 34     34          34          34
IL      102                102    102         102         102
IN       92                 92     92          92          92
KS        1                  1      1           1           1
KY      119                119    119         119         119
LA       64                 64     64          64          64
MA       14                 14     14          14          14
MD       24                 24     24          24          24
ME       16                 16     16          16          16
MI       82                 82     82          82          82
MN        1                  1      1           1           1
MO      114                114    114         114         114
MS       81                 81     81          81          81
MT       40                 40     40          40          40
NC      100                100    100         100         100
ND       30                 30     30          30          30
NE       64                 64     64          64          64
NH       10                 10     10          10          10
NJ       21                 21     21          21          21
NM       27                 27     27          27          27
NV       14                 14     14          14          14
NY       62                 62     62          62          62
OH       88                 88     88          88          88
OK       73                 73     73          73          73
OR       33                 33     33          33          33
PA       67                 67     67          67          67
RI        5                  5      5           5           5
SC       46                 46     46          46          46
SD       40                 40     40          40          40
TN       95                 95     95          95          95
TX      200                200    200         200         200
UT       20                 20     20          20          20
VA      132                132    132         132         132
VT       14                 14     14          14          14
WA       38                 38     38          38          38
WI       72                 72     72          72          72
WV       55                 55     55          55          55
WY       21                 21     21          21          21

In [271]:
lung_cancer_county_means.to_csv('cleaned_data/all_states_lung_cancer_means.csv')